DATABASE_URL="mysql://USERNAME:PASSWORD@HOST:PORT/DBNAME"

#Port
PORT=3000

#JWT Secret
SECRET=""

#Marvel api key
MARVEL_PUBLIC_API_KEY=""
MARVEL_PRIVATE_API_KEY=""
MARVEL_BASE_URL="https://gateway.marvel.com:443/v1/public/characters"